

body {
  background-image: url(fondo.jpg);
  background-color: #000000A3;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  background: #6a4028;
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tabs {
  display: flex;
  justify-content: space-between; 
  margin-top: 30px;
  border-bottom: 2px solid #ccc; 
  background: none; 
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background: #ffffff;
  border: 2px solid #ccc;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 5px;
}

.tab.active {
  top: 0;
  background: #ffb6c1;
  border-color: #ff7f9f;
  font-weight: bold;
}

.settings {
  margin-left: auto;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.panel {
  background: #fff3e6;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.funciones {
  flex: 1;
  min-height: 150px;
  background: #f8d7da;
  color: #721c24; 
  border-radius: 12px;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reloj {
  font-size: 18px;
  color: #6a4028;
  font-weight: bold;
  margin-left: 20px;
}