body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  background-image: linear-gradient(rgba(102, 16, 242, 0.38)),
  url("../imagenes/fondoregistro.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  color: #F9FC0D;
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-family: "Courier Prime", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main{
  display: flex;
  flex-direction: column;
  width: 814px;
  height: 568px;
  background-color: #2D0163;
  margin: 0 auto;
  justify-content: center;   
  align-items: center;
}

.cosos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3ABC3;
  border-radius: 10px;
  width: 650px;
  margin-top: 12px;
  height: 40px;
  padding: 10px;
  gap: 10px;
}

label {
  flex: 1;
  text-align: left;
  font-size: 19px;
  margin-right: 10px;
  padding-left: 10px;
}

.linimini{
  height: 35px;
  width: 2px;
  background-color: black;
  margin: 15px
}

input{
  flex: 2;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2D0163;
  color: white;
  outline: none;
  font-size: 14px;
  width: 200px;
}

.generotypeshi {
  display: flex;
  justify-content: space-between; /* igual que los otros */
  align-items: center;
  background-color: #C3ABC3;
  border-radius: 10px;
  padding: 10px;
  margin-top: 12px; /* igual que .cosos */
  width: 650px; /* mismo ancho que .cosos */
  height: 40px; /* misma altura */
}

.opcion-genero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 610px;
}

.opcion-genero input {
  position: absolute;
  opacity: 0;
  width: 80px; /* mismo tamaño que la imagen, ajustalo */
  height: 80px;
  cursor: pointer;
}

.opcion-genero img {
  width: 35px;
  height: 35px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.opcion-genero input:checked + img {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #f3e6ff);
}
button {
  background-color: #E4D5E4;
  color: #2D0163;
  width: fit-content;
  height: 65px;
  margin: 15px 0;
  border-radius: 15px;
  font-size: 30px;
  border: none;
  padding: 15px;
 }

.botones{
  display: flex;
  gap: 13px;
  width: fit-content;
  margin: auto;
}