body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  background-image: linear-gradient(rgba(102, 16, 242, 0.38)),
  url("../imagenes/fondoregistro.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.moony{
  position: absolute;
  top:0;
  left: 0%;
  height: 30%;
  width: 30%;
}

.blackstar1{
  position: absolute;
  top: 1%;
  left: 39%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar2{
  position: absolute;
  top: 1%;
  left: 51%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar3{
  position: absolute;
  top: 1%;
  left: 64%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar4{
  position: absolute;
  top: 1%;
  left: 77%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar5{
  position: absolute;
  top: 1%;
  left: 90%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar6{
  position: absolute;
  top: 15%;
  right: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar7{
  position: absolute;
  top: 31.3%;
  right: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar8{
  position: absolute;
  top: 49%;
  right: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar9{
  position: absolute;
  top: 65%;
  right: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar10{
  position: absolute;
  top: 82%;
  right: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar11{
  position: absolute;
  bottom: 2.5%;
  right: 10%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar12{
  position: absolute;
  bottom: 2.5%;
  right: 23%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar13{
  position: absolute;
  bottom: 2.5%;
  right: 36%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar14{
  position: absolute;
  bottom: 2.5%;
  right: 49%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar15{
  position: absolute;
  bottom: 2.5%;
  right: 62%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar16{
  position: absolute;
  bottom: 2.5%;
  right: 75%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar17{
  position: absolute;
  bottom: 2.5%;
  right: 88%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar18{
  position: absolute;
  top: 31.3%;
  left: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar19{
  position: absolute;
  top: 49%;
  left: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar20{
  position: absolute;
  top: 65%;
  left: 1%;
  height: 2.7%;
  width: 1.5%;
}

.blackstar21{
  position: absolute;
  top: 82%;
  left: 1%;
  height: 2.7%;
  width: 1.5%;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1%;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  color: #FEDA50;
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-family: "Courier Prime", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.regulus{
  height: 65%;
  width: 65%;
}

.logo{
  height: 60%;
  width: 60%;
}

.linea{
  height: 2.5px;
  width: 68%;
  background-color: #C9B4C9;
  margin-bottom: 3px;
}

main{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 75%;
  background-color: #2D0163;
  margin: 0 auto;
  justify-content: flex-start;   
  align-items: center;
}

select {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2D0163;
  color: white;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  width: 100px; 
  appearance: none;
  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7L10 12L15 7' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

#formregistro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cosos select {
  margin-left: 8px;
}

.cosos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3ABC3;
  border-radius: 10px;
  width: 120%;
  margin-top: 15px;
  height: 40px;
  padding: 10px;
  gap: 10px;
}

label {
  flex: 1;
  text-align: left;
  font-size: 19px;
  margin-right: 10px;
  padding-left: 15px;
}

.linimini{
  height: 35px;
  width: 2px;
  background-color: black;
  margin: 15px
}

input{
  flex: 2;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2D0163;
  color: white;
  outline: none;
  font-size: 14px;
  width: 200px;
}

.generotypeshi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3ABC3;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 120%;
  height: 40px;
}

.generotypeshi label {
  flex: 1;
  text-align: left;
  font-size: 19px;
  padding-left: 10px;
}

.opcion-genero {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}


.opcion-genero .linimini {
  margin: 0 10px;
}

.opcion-genero input[type="radio"] {
  position: absolute;
  opacity: 0;
  inset: 0;
  cursor: pointer;
}

.opcion-genero label {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.opcion-genero label img {
  width: 35px;
  height: 35px;
  opacity: 0.6;
  transition: 0.3s;
}

#generoChico:checked + label img,
#generoChica:checked + label img {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #f3e6ff);
}

button {
  background-color: #E4D5E4;
  color: #2D0163;
  width: fit-content;
  height: 65px;
  margin: 0px 0;
  border-radius: 15px;
  font-size: 30px;
  border: none;
  padding: 15px;
}

.botones{
  display: flex;
  gap: 13px;
  width: fit-content;
  margin: auto;
}