body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url("fondoregistro.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 30px;
  color: #f6e6ff;
  text-shadow: 0 0 10px #e0b3ff;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

main{
  display: flex;
  flex-direction: column;
  width: 814px;
  height: 568px;
  background-color: #D2C9C9;
  border-radius: 132px;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;   
  align-items: center;
}
 
label {
  display: block;
  margin-top: 12px;
  font-size: 15px;
  text-align: left;
}

input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  background-color: #b493c9;
  color: white;
  outline: none;
  font-size: 14px;
}

.generotypeshi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #b493c9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.opcion-genero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcion-genero input {
  display: none;
}

.opcion-genero img {
  width: 35px;
  height: 35px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

/* Si está seleccionado el radio, resalta la imagen */
.opcion-genero input:checked + img {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #f3e6ff);
}
button {
  background-color: #E4D5E4;
  display: block;
  width: 350px;
  height: 65px;
  margin: 15px auto;
  border-radius: 20px;
  font-size: 20px;
  border: none;
 }