body{
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-repeat: no-repeat; /* que no se repita */
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  background-size: cover;
  padding: 10px 20px;
  height: 100px;
  width: 95%;
  margin-left: 70px; /* espacio para aside */
  box-sizing: border-box; /* que padding no rompa el ancho */
  margin-top: 0;
  border-bottom: 2px solid #ccc;
}

.logo{
  width: 70px;
  height: 70px;
  top: 0px;
  left: 100vh;
}


.tab {
  flex: 1;
  text-align: center;
  align-items: center;
  padding: 10px 0;
  background: #ffffff;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 30px;
  height: 21px;
  font-weight: bold;
}

/* Colores fijos para cada tab */
.tab[data-tab="tab1"] {
  background-color: #706D74; /* rosado */
}

.tab[data-tab="tab2"] {
  background-color: #98979D; /* celeste */
}

.tab[data-tab="tab3"] {
  background-color: #D7D5DE; /* verde */
}

.tab.active {
  height: 42px;
  top: 20px;
}

.settings {
  margin-left: auto;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  border-color: solid 2px black;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

aside {
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 70px;
  height: 80px;
  padding: 10px;
}

.icon-menu {
  display: none;
  flex-direction: column;
  gap: 35px;
  width: 70px;
  margin-top: 5px;
  background-color: white;
}

.icon-menu.active {
  display: flex;
}

.icon-menu button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  background-color: white;
}

.fotomenu{
  height: 55px;
  height: 55px;
}

.contenedor {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.perfil {
  background: white;
  border-radius: 12px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.modos {
  background: white;
  border-radius: 12px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.musiquita {
  background: white;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.funciones {
  flex: 1;
  min-height: 150px;
  background: #f8d7da;
  color: #721c24; 
  border-radius: 12px;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reloj {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 20px;
}

.ready {
  margin-top: 10px;
  background: #ffffff;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
}

/* Control */
.controls {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  text-align: center;
}

.control h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.textotab2 {
  color: rgb(0, 0, 0);
}

/* Persiana */

.cerraryapagar { 
  background: black;
  color: white;
  height: 60px;
  width: 110px;
  border-radius: 15px;
  border: solid 3px white;
  font-family: Itim;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
}
  
.abriryprender { 
  background: white;
  color: black;
  height: 60px;
  width: 110px;
  border-radius: 15px;
  border: solid 3px black;
  font-family: Itim;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
 }

.persiana {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  transition: height 0.5s ease;
}

/* Ventilador */

.ventilador{
height: 160px;
width: 160px;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Luces */
.sololuces {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.luces {
  width: 50px;
  height: 50px;
  background: gold;
  border-radius: 50%;
  margin: 10px auto;
  box-shadow: 0 0 20px gold;
  display: flex;
}