:root{

  /* body */
  --fondo: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../imagenes/fondo.jpg");

  /* header */
  --header-fondo-blanco: white;
  --header-tab1: #706D74;
  --header-tab2: #D7D5DE;
  --header-border-negro: black;

  /* temperatura */
  --temperatura: #ffef39;

  /* perfil */
  --perfil-azul: #0CB1B0;
  --perfil-blanco: white;
  --perfil-azul-unavez: #2FD9D8;

  /* modos */
  --modos-fondo-rosa: #EB00F0;
  --modos-fondo-blanco: white;
  --modos-texto-ayuda: #000;

  /* musica */
  --musica-fondo-blanco: white;
  --musica-verde-neon: #16FF06;
  --musica-verde-relativamente-normal: #15D308;
  --musica-verde-raro: #0CC200;

  /* control */
  --control-linea-separate: #FFEEE0;
  --control-negro: black;
  --control-blanco: white;
  --control-rojas-apagadas: #6F302B;
  --control-rojas-prendidas: #FF3939;
  --control-rojas-luz: rgba(200, 50, 0, 1);
  --control-azules-apagadas: #444661;
  --control-azules-prendidas:#3978FF;
  --control-azules-luz: rgba(32, 49, 202, 1);
}

body.dark-mode {
/* body */
  --fondo: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url("../imagenes/fondo.jpg");

  /* header */
  --header-fondo-blanco: black;
  --header-tab1: #4D4262;
  --header-tab2: #A2A1A6;
  --header-border-negro: white;

  /* temperatura */
  --temperatura: #ffef39;

  /* perfil */
  --perfil-azul: #1BFFFE;
  --perfil-blanco: black;
  --perfil-azul-unavez: #1BFFFE;

  /* modos */
  --modos-fondo-rosa: #EB00F0;
  --modos-fondo-blanco: black;
  --modos-texto-ayuda: #EB00F0;

  /* musica */
  --musica-fondo-blanco: black;
  --musica-verde-neon: #16FF06;
  --musica-verde-relativamente-normal: #15D308;
  --musica-verde-raro: #0CC200;

  /* control */
  --control-linea-separate: #FFEEE0;
  --control-negro: white;
  --control-blanco: black;
  --control-rojas-apagadas: #6F302B;
  --control-rojas-prendidas: #FF3939;
  --control-rojas-luz: #FF000066;
  --control-azules-apagadas: #444661;
  --control-azules-prendidas:#3978FF;
  --control-azules-luz: rgba(32, 49, 202, 1);
}

body{
  background-image: var(--fondo);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-fondo-blanco);
  background-size: cover;
  padding: 10px 20px;
  height: 84px;
  width: calc(100% - 74px);
  margin-left: 74px;
  box-sizing: border-box;
  margin-top: 0;
}

main{
  justify-content: center;
}

.logo{
  position: relative;
  width: 70px;
  height: 70px;
  top: 2px;
  margin-left: 5px
}


.tab {
  flex: 1;
  text-align: center;
  align-items: center;
  padding: 10px 0;
  background: var(--header-fondo-blanco);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 21px;
  height: 21.5px;
  font-weight: bold;
}

.tab[data-tab="tab1"] {
  background-color: var(--header-tab1);
}

.tab[data-tab="tab3"] {
  background-color: var(--header-tab2);
}

.tab.active {
  height: 42px;
  top: 11px;
}

.settings {
  margin-left: auto;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--header-fondo-blanco);
  border-color: solid 2px var(--header-border-negro);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

/* Aside */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  background-color: var(--header-fondo-blanco);
  border-right: 2px solid var(--header-border-negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  transition: height 0.4s ease;
  overflow: hidden;
  padding: 3px;
  padding-bottom: 20px;
  gap: 24px;
}

/* Cuando se expande */
aside.active {
  height: auto;
  min-height: 100vh;
}

.configuracion {
  background-color: var(--header-fondo-blanco);
  border: none;
  border-bottom: 2px solid var(--header-border-negro);
  border-bottom: 2px solid var(--header-border-negro);
  height: 84px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.icon-menu.active + .configuracion,
aside.active .configuracion {
  border-right: none;
}

.icon-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  background-color: var(--header-fondo-blanco);
  box-sizing: border-box;
  padding: 10px 0;
}

.icon-menu.active {
  display: flex;
}


/* Botones del menú */
.icon-menu button {
  width: 100%;
  background-color: var(--header-fondo-blanco);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotomenu{
  height: 55px;
  height: 55px;
}

.contenedor {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* CONTENEDOR PRINCIPAL */

.saludotab1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;

  background: var(--header-fondo-blanco);
  border: 3px solid var(--header-border-negro);
  height: 75px;

  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-left: 20px;
  font-family: "Kalnia";

  clip-path: polygon(
  5% 0,
  55% 0,
  55% 25px,
  70% 25px,
  70% 50px,
  93% 50px,
  93% 100%, 
  5% 100%
);
}

.linea1{
  position: absolute;
  height: 80px;
  width: 3px;
  background-color: var(--header-border-negro);
  top: 17.5%;
  left: 6.2%;
}

.linea2{
  position: absolute;
  background-color: var(--header-border-negro);
  height: 25px;
  width: 3px;
  top: 17.3%;
  right:45%;
}

.linea3{
  position: absolute;
  background-color: var(--header-border-negro);
  height: 3px;
  width: 197px;
  top: 20.8%;
  right: 30.6%;
}

.linea4{
  position: absolute;
  background-color: var(--header-border-negro);
  height: 28px;
  width: 3px;
  top: 20.9%;
  right:30.5%;
}

.linea5{
  position: absolute;
  background-color: var(--header-border-negro);
  height: 3px;
  width: 308px;
  top: 24.8%;
  right: 8.1%;
}

.linea6{
  position: absolute;
  background-color: var(--header-border-negro);
  height: 33px;
  width: 3px;
  top: 24.8%;
  right: 8.1%;
}

.saludotab1 h2{
  font-size: 28px;
  font-weight: 700;
  margin-left: 5%;
  border-top: 1px solid var(--header-border-negro);
  border-bottom: 1px solid var(--header-border-negro);
  padding: 5px 10px;
  color: var(--header-border-negro)
}

/* reloj */

.reloj {
  position: absolute;
  color: var(--header-border-negro);
  font-weight: 100;
}

.reloj.fecha {
  top: 15%;
  right: 35%;
  font-family: "Koulen";
  font-size: 25px;
}

.reloj.hora {
  top: 18.9%;
  right: 18%;
  font-family: "Koulen";
  font-size: 25px;
}

#temperatura {
  display: flex;
  position: absolute;
  right: 20px;
  top: 14.5%;
  width: 80px;
  height: 80px;
  background: var(--temperatura);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 800;
}

/* perfil */

.perfil {
  display: flex;
  background: var(--perfil-blanco);
  border: 2px solid var(--perfil-azul); 
  border-radius: 40px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 435px;
  max-height: 322px;
}

.saludo {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dni {
  background: var(--modos-fondo-blanco);
  border: 2px solid var(--perfil-azul);
  border-radius: 30px;
  padding: 25px;
  width: 400px;
  height: 275px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-self: center;
}

.avatar-box {
  text-align: center;
  position: relative;
  top: 20px;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 200px;
  border: 2px solid var(--perfil-azul);
  object-fit: cover;
}

.edit-item{
  color: var(--perfil-azul);
  font-weight: 300;
}

.btn-editar {
  position: relative;
  background: var(--perfil-azul);
  color: var(--perfil-blanco);
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  top: -40px;
  cursor: pointer;
  transform: rotate(10deg);
  font-size: 15px;
  left: -30px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.info-item {
  background: var(--perfil-azul);
  padding: 5px 5px;
  border-radius: 7px;
  width: 180px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.value {
  font-size: 20px;
  margin-top: 6px;
}

.editarcoso{
  display:none;
  background: var(--modos-fondo-blanco);
  border: 2px solid var(--perfil-azul); 
  border-radius: 30px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  width: 395px;
  min-height: 280px;
}

.puntossuspensivos{
  position: relative;
  background: var(--perfil-azul);
  color: var(--perfil-blanco);
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  top: -45px;
  width: fit-content;
  transform: rotate(10deg);
  font-size: 15px;
  left: -10px;
}

.cososdelperfil{
  background: var(--perfil-azul);
  padding: 5px 5px;
  border: 1px solid var(--perfil-azul);
  border-radius: 7px;
  width: 180px;
  height: fit-content;
  font-size: small;
  margin-bottom: 12px;
}

.nodoymas{
  display:flex;
  gap: 20px;
}

.botoneseditar{
  display:flex;
  gap:8px;
}

.btns-editar{
  background: var(--perfil-azul-unavez);
  color: var(--perfil-blanco);
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 45%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btns-editar2{  
  background:var(--perfil-azul); 
  color: var(--perfil-blanco);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*modos*/

.modos {
  justify-content: center;
  align-items: center;
  background: var(--modos-fondo-blanco);
  border: 3px solid var(--modos-fondo-rosa);
  border-radius: 12px;
  padding: 15px;
  width: fit-content;
  max-height: 330px;
}

#modoform{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#modoform input,select,button{
  background-color: var(--modos-fondo-blanco);
  border: none;
}

.borde{
  display: flex;
  background-color: var(--modos-fondo-blanco);
  padding: 2px;
  border: 2px solid var(--modos-fondo-rosa);
  border-radius: 16px;
  height: 276px;
  width: 254px;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}

.ayudamental {
  display: flex;
  background-color: var(--modos-fondo-rosa);
  color: var(--modos-fondo-blanco);
  border-radius: 15px;
  width: 230px;
  height: 253px;
  justify-content: center;
  padding: 10px;
}

.ayudamental h2{
  font-family: "Londrina Solid";
  font-size: 40px;
  margin-top: 2px;
  margin-bottom: 12px;
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 2%;
}

.modos h2::after {
  content: "";
  position: absolute;
  left: 57%;
  bottom: 53%;
  transform: translateX(-50%);
  width: 17%;
  height: 3px;
  background: var(--modos-fondo-blanco);
  border-radius: 10px;
}

.botonmodos {
  background-color: var(--modos-fondo-rosa);
  color: var(--modos-fondo-blanco);
  width: fit-content;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.flechitaderecha{
  transform: scaleX(-1);
}

.botonera {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  padding-bottom: 10px;
}

.ayudadios{
  color: var(--modos-texto-ayuda);
  background-color: var(--modos-fondo-blanco);
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 3px;
}

/* Musica*/

.musiquita {
  background: var(--musica-fondo-blanco);
  border: 3px solid var(--musica-verde-neon);
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  max-width: 245px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#reproductor {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.estoyestresada {
  border: 3px solid var(--musica-verde-neon);
  padding: 10px;
  border-radius: 8px;
  color: var(--musica-verde-neon);
  height: 120px;
}

.musiquita > #reproductor > div:nth-child(2),
.musiquita > #reproductor > div:nth-child(3) {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.btnmusica {
  background-color: var(--modos-fondo-blanco);
  border: none;
  width: 55px;
  height: 55px;
}

.btnmusica img {
  width: 100%;
}

#shuffle{
  width: 62px;
  height: 62px;
  margin-top: -4px;
}

.manofprogress {
  position: relative;
  width: 110%;
  height: 3px;
  background: var(--musica-verde-relativamente-normal);
  border-radius: 3px;
  margin: 10px auto;
  left: 50%;
  transform: translateX(-50%);
}

.progreso {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--musica-verde-relativamente-normal);
  border-radius: 3px;
}

.thumbs {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  width: 12px;
  height: 12px;
  background: var(--musica-verde-neon);
  border-radius: 50%;
}


.cajitarara {
  background-color: var(--musica-verde-raro);
  width: 100%;
  height: 45px;
}

.reloj {
  font-size: 18px;
  color: var(--header-border-negro);
  font-weight: bold;
  margin-left: 20px;
}

.greeting{
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: -2%;
  margin-left: 10%;
  width: 80%;
  border-bottom: 2px solid var(--header-border-negro);
}

.saluuut{
  color: var(--header-border-negro);
  font-family: "Inter", sans-serif;
  font-size: 46px;
  font-weight: 800;
}

.ready {
  margin: 10px;
  background: var(--header-fondo-blanco);
  color: var(--header-border-negro);
  font-weight: 800;
  font-stretch: expanded;
  font-size: 30px;
  border: none;
  height: 55px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.funfact{
  display: flex;
  background-color: var(--header-fondo-blanco);
  background-image: url("../imagenes/no\ se.png");
  background-size: cover;
  background-position: center;
  border:2px solid var(--header-border-negro);
  border-radius: 30px;
  height: 35px;
  margin-top: 20px;
  width: 87%;
  align-items: center;
  justify-self: center;
  color: var(--header-border-negro)
}

.funfact h3{
  margin-left: 10px;
  margin-right: 20px;
}

.odioproyecto{
  height: 100%;
  width: 13px;
  background-color: var(--header-border-negro);
  margin-right: 15px;
}

.odioproyecto p{
  font-size: larger;
}

/* Control */
.controls {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-top: 3%;
  text-align: center;
}

.control h2 {
  font-size: 28px;
  margin-top: -3px;
  margin-bottom: 20px;
  font-family: "Itim";
}

.textotab2 {
  color: var(--header-border-negro);
}

.separate1{
  width: 2px;
  height: 1000px;
  background-color: var(--header-fondo-blanco);
}

.separate2{
  width: 2px;
  height: 1000px;
  background-color: var(--control-linea-separate);
}

/* Persiana */

.cerraryapagar { 
  background: var(--control-negro);
  color: var(--control-blanco);
  height: 60px;
  width: 110px;
  border-radius: 15px;
  border: solid 3px var(--control-blanco);
  font-family: "Itim";
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
}
  
.abriryprender { 
  background: var(--control-blanco);
  color: var(--control-negro);
  height: 60px;
  width: 110px;
  border-radius: 15px;
  border: solid 3px var(--control-negro);
  font-family: "Itim";
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
 }

.persiana {
  width: 260px;
  height: 200px;
  margin: 20px auto;
  transition: height 0.5s ease;
}

/* Ventilador */

.ventilador{
height: 205px;
width: 213px;
margin-top: 8px;
margin-bottom: 25px;
}


.girando {
  animation: rotar 1s linear infinite;
}

@keyframes rotar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Luces */

.sololuces {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 5px;
}

.luces {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto;
  display: flex;
}

.bombilla {
  width: 70%;
  height: 70%;
  margin: auto;
}

.rojas{
  background-color: var(--control-rojas-apagadas);
}

.azules{
  background-color: var(--control-azules-apagadas);
}

.prendidas-rojas{
  background-color: var(--control-rojas-prendidas);
  width: 80px;
  height: 80px;
  gap: 60px;
  box-shadow: 8px 10px 3px var(--control-rojas-luz);
  margin: 15px auto;
}

.prendidas-azules{
  background-color: var(--control-azules-prendidas);
  width: 80px;
  height: 80px;
 gap: 60px;
  box-shadow: 8px 10px 5px var(--control-azules-luz);
  margin: 15px auto;
}

.potter {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  outline: none;
}

.potter::-webkit-slider-runnable-track {
  height: 10px;
  background: var(--control-negro);
  border-radius: 5px;
}

.potter::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--control-blanco);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}